body{
  margin: 0;
  width: 100%;
  height: 100%;
}

.wrapper{
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}

canvas{
position: relative;
height:100%;
top: 0;
width:100%;
}

.introduction-canvas--overflow{
width:100%;
height:100%;
position:absolute;
top: 0;
display:block;
background: linear-gradient(to right bottom,rgb(0 32 65) 0,rgb(3 202 153 / 90%) 50%,rgb(11 147 112 / 90%) 100%);
}

.Container {
  z-index: 1001;
  position: absolute;
  width: 100%;
}

.login-header {
  width: 720px;
}


@media (max-width: 600px) {
  .Container {
    width: 100%;
    height: auto;
  }
  .login-header {
    width: 90%;
    height: auto;
  }
  .main-box {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .main-box .box {
    width: 47%;
  }
  .introduction-canvas--overflow {
    height: 900px;
  }
}