.w-full {
    width: 100% !important;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
}

.social-media a {
    transition: all .3s ease;

}

.social-media a:hover {
    font-size: 20px;
    transition: all .3s ease-out;
}